body {
  background-image: url("background.jpg");
  font-family: Verdana, Arial, sans-serif;
}
h1 {
  background-color: black;
  text-align: center;
}
h2 {
  background-color: #cccccc;
  font-size: 1.2em;
  padding-left: 10px;
  padding-bottom: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#nav {
  text-align: center;
}
#footer {
  background-color: #424242;
  color: #ffffff;
  font-size: .60em;
  text-align: center;
  font-style: italic;
  padding: 10px;
}
#footer a {
  font--color: #ffffff;
}
#wrapper {
  width: 100%;
  margin-right:auto;
  margin-left: auto;
  background-color: #bbbbbb;
  min-width: 1000px;
  box-shadow: 20px 20px black;
  height: auto;
}
#content {
  padding: 25px;
}
.details {
  padding-left: 20%;
  padding-right: 20%;
}
img {
  border-style: none;
}
